{% extends 'parts/base.html' %}
{% load static %}
{% block body_block %}


    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>About<span>.</span></h2>
                        <a href="#">Home</a>
                        <a href="#">About</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="{% static 'user/img/add.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Welcome to Violet Store</h2><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget quam ac odio semper feugiat non vel odio. Integer lectus urna, condimentum a gravida nec, laoreet id dolor.</p>
                        <p>Nullam interdum consectetur lectus id cursus. Integer varius odio non tincidunt blandit. Mauris sit amet neque vel turpis tristique tincidunt. Nunc quis est vel erat lobortis hendrerit. Integer et quam quis elit dignissim interdum.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Our Vision</h2><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget quam ac odio semper feugiat non vel odio. Integer lectus urna, condimentum a gravida nec, laoreet id dolor.</p>
                        <p>Nullam interdum consectetur lectus id cursus. Integer varius odio non tincidunt blandit. Mauris sit amet neque vel turpis tristique tincidunt. Nunc quis est vel erat lobortis hendrerit. Integer et quam quis elit dignissim interdum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="team-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h2>Our Team</h2>
                <p>Meet the people who make our store a great place to shop.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <img src="{% static 'user\img\img_141364.svg' %}" alt="Team Member">
                        <h4>John Doe</h4>
                        <p>CEO & Founder</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <img src="{% static 'user\img\img_141364.svg' %}"  alt="Team Member">
                        <h4>Jane Doe</h4>
                        <p>Marketing Manager</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <img src="{% static 'user\img\img_141364.svg' %}" alt="Team Member">
                        <h4>Mike Smith</h4>
                        <p>Head of Sales</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <img src="{% static 'user\img\img_141364.svg' %}" alt="Team Member">
                        <h4>Susan Johnson</h4>
                        <p>Customer Support</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


{% endblock %}