{% extends 'parts/base.html' %}
{% load static %}
{% block body_block %}


  <!-- Page Add Section Begin -->
  <section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Order Now<span>.</span></h2>
                    <a href="#">Order Now</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'user/img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<section>
    <div class="container">
        <div class="orders-table">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th class="product-h">Product</th>
                        <th>Price</th>
                        <th class="quan">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr class="text-center">
                        <td class="product-col">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ cart_item.item.image.url }}" alt="{{ cart_item.item.name }}" class="img-thumbnail" style="max-width: 100px;">
                                </div>
                                <div class="col-md-8 align-self-center">
                                    <div class="p-title">
                                        <h5>{{ cart_item.item.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="price-col">₹ {{ cart_item.item.price }}</td>
                        <td class="quantity-col">{{ cart_item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="total-price">Total Price: ₹ {{ total_price }}</div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark pc-btn">Confirm Order</button>
        </form>
    </div><br><br><br>
</section>





{% endblock %}