{% include 'parts/navbar.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSpot</title>
    <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>

    {% block body_block %}{% endblock %}

    {% include 'parts/footer.html'%}
</body>
</html>
