{% load static %}
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
{#            <div class="logo">#}
{#                <a href="{% url 'index' %}"><img src="{% static 'user/img/logo.png' %}" alt=""></a>#}
{#            </div>#}
            <div class="header-right">
                <form action="{% url 'search_products' %}" method="get" class="search-bar">
                    {% csrf_token %}
                    <input type="text" name="search_query" placeholder="Search....." class="form-control">
                </form>
            </div>
            <div class="user-access">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> User Profile</a>
                {% else %}
                <a href="{% url 'registration_page' %}">Register</a>
                <a href="{% url 'login_page' %}" class="in">Sign in</a>
                {% endif %}
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li>
                        <a href="#">Category</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'filter_by_category' 1 %}">Men</a></li>
                            <li><a href="{% url 'filter_by_category' 2 %}">Women</a></li>
                            <li><a href="{% url 'filter_by_category' 3 %}">Kids</a></li>
                        </ul>
                    </li>
                    
                           
                    <!-- <li><a href="{% url 'about' %}">About</a></li> -->
                    <li><a href="#">More</a>
                        <ul class="sub-menu">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'cart' %}">Your Cart</a></li>
                                <li><a href="{% url 'view_ordered_items' %}">Your Orders</a></li>
                            {% endif %}
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header Info Begin -->
<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="{% static 'user/img/icons/delivery.png' %}" alt="">
                    <p>Free shipping on orders over $30 in USA</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="{% static 'user/img/icons/voucher.png' %}" alt="">
                    <p>20% Student Discount</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                <img src="{% static 'user/img/icons/sales.png' %}" alt="">
                <p>30% off on dresses. Use code: 30OFF</p>
            </div>
            </div>
        </div>
    </div>
</div>